
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap-sass/assets/stylesheets/bootstrap";

.user-name {
  width: auto;
  display: inline-block;
}
.clap-area {
  
}
.clap-target {
  font-size: 80px;
  border: 0;
  background: transparent;
  &:focus {
    outline: none;
  }
  &:active {
    transform: translateY(5px);
    border: 0;
    
  }
}
.clap-total {
  font-size: 80px;
}